.primaryButton{
  color: #EF7734;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding: 10px 20px;

  border-radius: 100px;
  border: 1px solid #EF7734;
  &:hover{
    background: #EF7734;
    color: #F7F7F9;
  }
}

.secondaryButton{
  background: #EF7734;
  color: #F7F7F9;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding: 10px 20px;
  border-radius: 100px;

  border: none;

  &:hover{
    box-shadow: 0 6px 24px 0 #EF7734;
  }
}