.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 50px;
    width: 500px;
    position: relative;
    z-index: 1111;

    background: $white;

    @media (max-width: 767px) {
        height: auto;
      }

    //form html tag
    form{
        width: 100%;
        padding: 30px; 

        button{
            margin-top: 20px;
        }
    }

  
}